body {
	padding: 2% 0 5% 0;
	background-color: #4686a0;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed, fixed, fixed;
	background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
	background-position: top left, center center, center center;
	background-size: auto, cover, cover;
	position: relative;
}
.banner {
	position: relative;
	text-align: center;
	background: url("images/banner.svg") bottom center no-repeat;
	padding: 2em 0 2em 0;
	margin: 0;
	background-size: 125% auto;
}